<div class="container">
  <h1 class="mb-3"><%= @quiz.name %></h1>
  <ul>
    <% @questions.each do |question| %>
      <div class="card-quiz-infos">
      <li><%= question.content%></li>
      </div>
    <% end %>
  </ul>
</div>
