<div class="container-quiz py-5">
  <div class="card mx-auto bg-light" style="width: 70rem;">
    <h2><%= @quiz.name %></h2>
    <%= link_to 'question', quiz_question_path(@quiz, @questions.first) %>
