<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Correct Answers:
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <% @questions.each do |question| %>
            <li>
              <%= question.content %>:
              <% correct_answer = question.answers.find_by(correct: true) %>
              <%= correct_answer ? correct_answer.content : 'No correct answer available' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
