<div class="footer">
  <div class="container">
    <div class="footer-info-container">
      <div class="footer-info">
        <h4><strong>About us</strong></h4>
        <ul>
          <li><i class="fa-solid fa-envelope"></i> edusparks@mail.com </li>
          <li><i class="fa-solid fa-location-dot"></i> Le Wagon </li>
          <li><i class="fa-solid fa-phone"></i> +230 11111111 </li>
        </ul>
      </div>
      <div class="footer-info">
      <h4><strong>Information</strong></h4>
      <ul>
      <li>Contact</li>
      <li>About</li>
      <li>Help&Support</li>
      </ul>
      </div>
      <div class="footer-info">
        <h4><strong>Socials</strong></h4>
        <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Youtube</li>
        </ul>
      </div>
    </div>
    <p class="footer-copyright">© 2023 EduSparks. All rights reserved.</p>
  </div>
</div>
