<div class="container">

<h1> <%= link_to subjects_path, class: 'icon-link' do %>
  <i class="fa-solid fa-arrow-left fa-sm"></i>
<% end %>  About Us</h1>
<br>
<div class="d-flex justify-content-between w-100">
  <div class="card p-2 w-25" style="background-color:white;">
    <%= image_tag "about1.png", style: "border-radius:8px;position:relative;"%>
    <p class="image-text py-2 px-4"><strong>Effective way of learning through quizzes</strong></p>
  </div>

  <div class="ms-5 p-5 w-75">
    <h2><strong>EduSparks</strong></h2>
    <p>Welcome to EduSparks, your go-to destination for high school learning! Explore our interactive quizzes tailored for high school students, covering a range of subjects. Elevate your studies with our AI tutor, providing personalized guidance and support. Whether you're preparing for exams or just want to enhance your knowledge, EduSparks is here to make learning effective, engaging, and fun!</p>

    <%= link_to "Start now!",new_user_registration_path,class: "btn btn-flat" %>
  </div>
</div>

<br>
<div class="d-flex justify-content-between w-100">
    <div class=" w-75">
    <div class="review-card">
      <div class="card-content">
        <h2>Julia</h2>
        <p><strong>Good experience  </strong> <span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9734;</span></p>
        <p>The quizzes are well-crafted and informative. Questions are thought-provoking without being overly complex, making them suitable for users of various knowledge levels.</p>
      </div>
    </div>
    <br>
    <div class="review-card">
      <div class="card-content">
        <h2>Lucas</h2>
        <p><strong>Great platform!  </strong> <span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9734;</span></p>
        <p>The user interface is intuitive and user-friendly. Navigating through the quizzes is a breeze, and the well-organized categories make it easy to find topics of interest. I particularly liked the clean design and straightforward layout that enhances the overall user experience.</p>
      </div>
    </div>
  </div>

  <%= image_tag "about2.png" %>
  </div>
</div>
