<!DOCTYPE html>
<html>
<div style="width: 100%; height: 100%; color: black; font-size: 85px; font-family: Inter; font-weight: 600; word-wrap: break-word">About Us</div>
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: #E2E0FF; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 282px; height: 282px; background: linear-gradient(180deg, rgba(91, 81, 222, 0.70) 0%, rgba(255, 184.88, 184.88, 0) 100%); border-radius: 9999px"></div>
    <img style="width: 330px; height: 330px" src="https://s3-alpha-sig.figma.com/img/6b1e/6c7c/cb9a594fe47b2a69d730e8715cad0c2d?Expires=1700438400&Signature=pYfu1gIt431x5MECdmd1q0wYzkQObSaHctUmXGLsjuQ3O~yGmSCgY2J8tDNBWnamo3zzAI0~2tly6qPQ~MLAIsvGKyDS4fjN310MbdDuYwHS7tydiL4K86lq2MhP5TzmLRKcQbn2-2h9pBZUep3GM50MSBBk1Gx07~K3EU2Ez9cHzAQqRZwCm5dHkExSvRT-DxROdYfqSpqHR2L5mLD17h-GgmSFfo49oNAxdTaa3VpQnKdS2b3ZFkDgHVGBjBTyS7EdspBk4rC5-85JAzkpwSQBXc9m8nqbzK0gWFICkpOMFSQFStANGrQtsZ00Mm1uURhazDvMlP~e5TWgRRWVyw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
    <div style="width: 411px; height: 189px; position: relative; background: white; border-top-left-radius: 14px; border-top-right-radius: 14px">
        <div style="width: 248px; left: 66px; top: 24px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
            <div></div>
        </div>
        <div style="width: 320px; height: 41px; left: 37px; top: 24px; position: absolute; text-align: center; color: black; font-size: 22px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Effective way of learning through quizzes</div>
        <div style="width: 100%; height: 100%; position: relative; background: white; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07); border-radius: 12px; overflow: hidden">
    <div style="left: 41px; top: 134px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Lato; font-weight: 700; word-wrap: break-word">It was a very good experience</div>
    <div style="width: 503px; height: 74px; left: 21px; top: 189px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Lato; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec turpis orci lectus maecenalemeisse sed magna eget nibh in turpis. Consequat duis diam lacus arcu.</div>
    <div style="width: 354px; height: 72px; left: 22px; top: 37px; position: absolute">
        <img style="width: 72px; height: 72px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/7c6a/7590/5862c36ee00e6b33d1f80a861a554866?Expires=1700438400&Signature=R~V0adNqcjz4gfUeNqbig3KtEoB3ZjgZFX0Ld8NN32zXUxlbZJMoqpG56dVXhYii6HANzMtmLDq89gPslpKjVdb~SSTkEDhtNpPtdBB3ZzGQaFyHarCEX6cL6TFN4OZfLgDeffleziUyt8i6tmLNShzp-bdhVkKbhFLHgvPFsS1RlElmHCnBxpYabTuRaRmXJ-bP-lcLfw1v2yE-4d-ikVuP~4USp3IWFWHyoQ6GyNS4LKkK08R6XXHc3MDYdYkdNBrN4XzGxqMX3t3zs1LJzAzF8F3BYIaDrIEU4Ydo5HyfNOdNSJJacVfeJBEUgbWEgBvTX4UyWr371T-OMXJE6g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
        <div style="left: 82px; top: 32px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Lato; font-weight: 700; word-wrap: break-word">Leo</div>
        <div style="width: 22px; height: 22px; left: 254px; top: 42px; position: absolute">
            <div style="width: 18.33px; height: 17.43px; left: 1.83px; top: 1.83px; position: absolute; background: #FFA033; border: 1px #FFA033 solid"></div>
        </div>
    </div>
</div>

        <div style="width: 22px; height: 22px; left: 228px; top: 42px; position: absolute">
            <div style="width: 18.33px; height: 17.43px; left: 1.83px; top: 1.83px; position: absolute; background: #FFA033; border: 1px #FFA033 solid"></div>
        </div>
        <div style="width: 22px; height: 22px; left: 280px; top: 42px; position: absolute">
            <div style="width: 18.33px; height: 17.43px; left: 1.83px; top: 1.83px; position: absolute; background: #FFA033; border: 1px #FFA033 solid"></div>
        </div>
        <div style="width: 22px; height: 22px; left: 306px; top: 42px; position: absolute">
            <div style="width: 18.33px; height: 17.43px; left: 1.83px; top: 1.83px; position: absolute; background: #FFA033; border: 1px #FFA033 solid"></div>
        </div>
        <div style="width: 22px; height: 22px; left: 332px; top: 42px; position: absolute">
            <div style="width: 18.33px; height: 17.43px; left: 1.83px; top: 1.83px; position: absolute; border: 1px #FFA033 solid"></div>
        </div>
    </div>
</div>

    <div class="main-content">
    <div class="content">
    <div class="container">
        <div class="logo">EduSparks</div>

        <div class="cta-button">
            <div class="arrow">
                <div class="arrow-tip"></div>
            </div>
            <div class="button-text">Start now</div>
        </div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </div>
    </div>
    <div class="about-us-section">
        <!-- Place the provided HTML code here -->
    </div>
    <div class="main-content">
        <div id="footer">
        <div id="additional-section">
            <p>Information</p>
            <button class="footer-button" id="contact-button">Contact</button>
            <button class="footer-button" id="about-button">About</button>
            <button class="footer-button" id="help-support-button">Help & Support</button>
        </div>

        <div class="footer-item">
            <p>About Us</p>
            <img src="https://cdn-icons-png.flaticon.com/128/3917/3917567.png" alt="Arrow Icon" class="footer-icon">
        </div>

        <div class="footer-item">
            <p>test@gmail.com</p>
            <img src="email.png" alt="Email Icon" class="footer-icon">
        </div>

        <div class="footer-item">
            <p>Le Wagon</p>
            <img src="https://cdn-icons-png.flaticon.com/128/3916/3916862.png" alt="Location Icon" class="footer-icon">
        </div>

        <div class="footer-item">
            <p>+230 111111111</p>
            <img src="https://cdn-icons-png.flaticon.com/128/5068/5068731.png" alt="Phone Icon" class="footer-icon">
        </div>

        <div id="socials-section">
            <p>Socials</p>
            <button class="footer-button" id="facebook-button">Facebook</button>
            <button class="footer-button" id="instagram-button">Instagram</button>
            <button class="footer-button" id="youtube-button">YouTube</button>
        </div>
    </div>


    </div>
</body>
</html>
