<div class="container">
  <h1 class="mb-3">Subjects</h1>
  <div>
    <% @subjects.each do |subject| %>
      <%= link_to subject_path(subject), class: 'btn btn-dark' do %>
        <div class="card-subject-infos">
          <%= subject.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
