
<div class="banner">
  <div class="container">
    <h1><strong>EduSparks </strong></h1>
    <p>Unleash Your Knowledge Potential! Engage, Learn, and Excel with Interactive Quizzes for Enhanced Learning.</p>
    <%= link_to "About us", about_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
 <section id="subjects">
  <h1 class="mb-3">SUBJECTS</h1>
  <br>
  <div class="card-subjects-container">
    <% @subjects.each do |subject| %>
      <%= link_to subject_path(subject), class: 'card-subject' do %>
        <div class="card-subject-infos transition-background">
          <%= subject.name %>
        </div>
      <% end %>
    <% end %>
  </div>
 </section>
</div>

<div class="container">
  <h1 class="mb-3">My Topics</h1>
  <div class="card-topics">
  </div>
</div>
