
<div class="banner">
  <div class="container">
    <h1><strong>EduSparks </strong></h1>
    <p>Unleash Your Knowledge Potential! Engage, Learn, and Excel with Interactive Quizzes for Enhanced Learning.</p>
    <a class="btn btn-flat" href="about">About us</a>
  </div>
</div>

<div class="container">
<br>
  <h1 class="mb-3">Subjects</h1>
  <div>
    <% @subjects.each do |subject| %>
      <%= link_to subject_path(subject), class: 'btn btn-dark' do %>
        <div class="card-subject-infos">
          <%= subject.name %>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
