<div class="container">
  <h1 class="mb-3">Topics</h1>
  <h2><%= @subject.name %></h2>
</div>
  <% @quizzes.each do |quiz| %>
    <div class="card2-subject-infos d-flex justify-content-between p-4">
      <h3><%= quiz.name %></h3>
      <div class="d-flex mx-2">
      <%= link_to "Start", quiz_path(quiz), class: "btn btn-dark" %>
      </div>
    </div>
  <% end %>
