.review-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 760px;
  height: 220px;
  padding: 20px;
  margin: 20px;
}

.star {
  margin-right: 5px;
  color: #ffc107;
}
