.navbar-lewagon {
  background: #5300A6;
  font-family: inter, sans-serif;
  font-weight: lighter;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 5px;
}
