.container-quiz {
  background-color: #EBD6FF;
  padding: 10px;
}

.card-quiz {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
}

.multiple-choice-box + .answer-content {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}


.progress {
  width: calc(100% - 20px); /* 100% width with 10px padding on each side */
  background-color: #e0e0e0;
  border-radius: 30px;
  overflow: hidden;
  height: 35px;
  margin-bottom: 20px;

}

.progress-bar {
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background-color: #5300A6;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  margin-left: 10px;
}

.question-progress-text {
  margin-left: 10px;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 calc(35% - 20px); /* 35% width with 10px gap on each side */
  padding: 10px; /* Add padding */
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% - 20px); /* 100% width with 10px padding on each side */
  font-size: 20px;
  text-align: left;
  padding: 4%;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  background-color: #EBD6FF;
  color: black !important;
  transition: background-color 0.3s, color 0.3s;
}

.category-selector + label:hover {
  background-color: #D8B0FF;
  color: black !important;
}

.category-selector:checked + label {
  color: white !important;
  background-color: #5300A6;
}

#snippet_category_ruby + label {
  color: #FD1015;
}

#snippet_category_ruby:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}

#snippet_category_javascript + label {
  color: #FFC65A;
}

#snippet_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}

#snippet_category_css + label {
  color: #62DDF5;
}

#snippet_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}

.grid-my-quizzes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
  padding: 10px; /* Add padding */
}
