.container-topic {
  background-position: center;
  background-image: url('topicshow4.png');
}

.card2-subject-infos {
  width: 900px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 20px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}

.card2-subject-infos ul{
  list-style-type: none;

}

.card2-subject-infos:hover {
    transform: translateY(-5px);
}

.card-ai {
  background-image: url('gradient.jpg');
  background-size: cover;
  padding: 30px 25px;
  max-width: 42rem;
  border-radius: 15px;
  margin: 2rem;

  .btn-ai-container {
    text-align: center;

    .btn-ai {
      padding: 15px 30px;
      background-color: white;
      color: #000000;
      font-weight: 500;
      font-size: 1.125rem;
    }
  }
}

.card {
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card4 {
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(93,169,233,1) 50%, rgba(235,214,255,1) 100%);
}

.card4 .submit-button {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
  width: 150px;
  height: 40px;
}

.submit-button:hover {
  background: #4D04C4;
  color: white;
}

.text-area {
  border: none;
  border-radius: 4px;
}

.icon-link {
  text-decoration: none;  
  color: #333;
  display: inline-flex;
  align-items: center;
}

// .btn-ai {
//   background: white;
//   color: #4D04C4;
//   border-radius: 4px;
// }
