.container-topic {
  background-position: center;
  background-image: url('topicshow4.png');
}

.card2-subject-infos {
  width: 900px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card {
  border-radius: 10px;
  padding: 50px 20px;
}
